.ghost-messages .media,
.ghost-messages .media > .media-body {
    overflow: visible !important;
}

.ghost-content {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    padding: 5px 60px 5px 5px;
    white-space: nowrap;
    cursor: move;
    background-color: #fbefdd;
    border: 1px solid #e8a33d;
    border-radius: 2px;
    margin-bottom: 5px;
}
.ghost-content .icon-color {
    fill: #FFF;
}

.ghost-content .icon-layer {
    position: absolute;
    right: 0;
    top: 5px;
    padding-right: 5px;
}
.ghost-content .icon {
    padding: 3px;
}
.ghost-content .icon-action {
    display: inline-block;
}