<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{ghosts}">
    <div class="tx-ghostcontent">
        <div class="t3-page-column-header">
            <div class="t3-page-column-header-label">Ghosts</div>
        </div>
        <div class="t3-grid-container">
            <table border="0" cellspacing="0" cellpadding="0" width="100%" class="t3-page-columns t3-grid-table">
                <colgroup>
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <td valign="top" class="t3-grid-cell t3-page-column">
                            <f:for each="{ghosts}" as="ghost">
                                <f:render partial="Ghost" arguments="{ghost: ghost}" />
                            </f:for>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</f:if>

</html>
